<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Space Exploration Database</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <style>
      .navbar {
        position: fixed;
        top: 20px;
        width: 100%;
        background-color: black;
      }
      h1 {
        font-size: 4rem;
        text-align: left;
      }
      p {
        font-size: 1.5rem;
        text-align: left;
        width: 70%;
      }
      .span {
        color: #af4a4a;
      }
      .left {
        padding-left: 3rem;
        padding-right: 1.8rem;
      }
    </style>
  </head>
  <body>
    <div class="navbar">
      <a href="/celestial_bodies">Celestial Bodies</a>
      <a href="/spacecraft">Spacecraft</a>
      <a href="/astronauts">Astronauts</a>
      <a href="/experiments">Experiments</a>
      <a href="/alien_encounters">Alien Encounters</a>
      <a href="/mission_details">Mission Details</a>
    </div>

    <div class="container">
      <div class="left">
        <h1>Space Exploration Database</h1>
        <p>
          Welcome to the Space Exploration Database Management System. Explore
          information about <span class="span">celestial bodies</span>,
          <span class="span">spacecraft</span>,
          <span class="span">astronauts</span>,
          <span class="span">experiments</span>,
          <span class="span">alien encounters</span>, and
          <span class="span">mission details</span>.
        </p>
      </div>
      <div class="right">
        <img
          src="{{ url_for('static', filename='rocket.gif') }}"
          alt="Space"
          width="600"
          height="600"
        />
      </div>
    </div>
  </body>
</html>
