<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mission Details</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/celestial_bodies">Celestial Bodies</a>
      <a href="/spacecraft">Spacecraft</a>
      <a href="/astronauts">Astronauts</a>
      <a href="/experiments">Experiments</a>
      <a href="/alien_encounters">Alien Encounters</a>
      <a href="/mission_details">Mission Details</a>
    </div>
    <h1>Mission Details</h1>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Destination</th>
        <th>Actions</th>
      </tr>
      {% for mission in mission_details %}
      <tr>
        <td>{{ mission.id }}</td>
        <td>{{ mission.name }}</td>
        <td>{{ mission.destination }}</td>
        <td>
          <form
            class="modify"
            method="POST"
            action="{{ url_for('modify_mission_detail', id=mission.id) }}"
          >
            <input type="hidden" name="id" value="{{ mission.id }}" />
            <label for="mission_name">Name:</label>
            <input
              type="text"
              id="mission_name"
              name="name"
              value="{{ mission.name }}"
              required
            />
            <label for="destination">Destination:</label>
            <input
              type="text"
              id="destination"
              name="destination"
              value="{{ mission.destination }}"
              required
            />
            <button type="submit">Modify</button>
          </form>
          <form
            method="POST"
            action="{{ url_for('delete_mission_detail', id=mission.id) }}"
          >
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
    <h2>Add Mission Detail</h2>
    <form
      class="ajax-form"
      id="mission-detail-form"
      action="/add_mission_detail"
      method="post"
    >
      <label for="mission_name">Name:</label>
      <input type="text" id="mission_name" name="name" required />
      <label for="destination">Destination:</label>
      <input type="text" id="destination" name="destination" required />
      <button type="submit">Add Mission Detail</button>
    </form>
  </body>
</html>
